*.pdb
*.lib
*.dll
*.mov
*.h264
*.ts
*.flv
*.yuv

/Debug
/Release
/testplayermfc/Debug
/testplayermfc/Release

/simplest_ffmpeg_player_su/Debug
/simplest_ffmpeg_player_su/Release

/simplest_video_play_sdl2/Debug
/simplest_video_play_sdl2/Release

/simpletest_ffmpeg_decoder/Debug
/simpletest_ffmpeg_decoder/Release

/testffmpeg/Debug
/testffmpeg/Release
/.vs